name: Release

on:
  push:
    branches: [master, develop]

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: Release
    if: (
      github.repository_owner == 'pvtnbr' && github.ref_name =='develop'
      ) || (
      github.repository_owner == 'privatenumber' && github.ref_name =='master'
      )
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: .nvmrc

      # Install needs to happen after setup-node loads node_modules from cache
      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Prerelease to GitHub
        if: github.repository_owner == 'pvtnbr'
        run: |
          git remote add public https://github.com/$(echo $GITHUB_REPOSITORY | sed "s/^pvtnbr/privatenumber/")
          git fetch public master 'refs/tags/*:refs/tags/*'
          git push --force --tags origin refs/remotes/public/master:refs/heads/master

          jq '
              .publishConfig.registry = "https://npm.pkg.github.com"
            | .name = ("@" + env.GITHUB_REPOSITORY_OWNER + "/" + .name)
            | .repository = env.GITHUB_REPOSITORY
            | .release.branches = [
                "master",
                { name: "develop", prerelease: "rc", channel: "latest" }
              ]
            ' package.json > _package.json
          mv _package.json package.json

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: pnpm dlx semantic-release
